/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica", Times, serif;
}

.goto-link.arrow {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/arrow_down.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 15px;
    cursor: pointer;
    display: block;
    height: 66px;
    left: 50%;
    margin-left: -8px;
    opacity: 1;
    position: absolute;
    width: 50px;
}

.vert-text {
  display: table-cell;
  vertical-align: top;
  padding-top: 80px;
  text-align: center;
  color: #428BCA;
}

.vert-text-white {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #428BCA;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}


a[href^=tel]{
    color:white;
    text-decoration:none;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #428BCA;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.white_a a {
  text-decoration: none;
  color: #FFFFFF;
}

.white_a a:hover {
  text-decoration: none;
  color: #f87520 ;
}


a:hover {
  text-decoration: none;
  color: #f87520 ;
}

.largefont {
  font-size: 40px;
}

.mediumfont {
  font-size: 20px;
}

img {
    display: inline-block;
    vertical-align: middle;
    border: 0px;
}


a:focus { 
    outline: none; 
}


@media only screen and (max-width: 1024px) {
  .callout {
    background-attachment: scroll;
    /* default height landscape*/
  }
  .header {
    background-attachment: scroll;
    /* default height landscape*/
  }
  .largefont {
    font-size: 40px;
  }
  
  #top {
    height: 400px;
  }
  
  .mediumfont {
    font-size: 20px;
  }
  #down_arrow {
    visibility: hidden;
  }
}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : landscape) {
  .largefont {
    font-size: 10px;
  }
  .mediumfont {
    font-size: 10px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : portrait) {
  .largefont {
    font-size: 70px;
  }
  .mediumfont {
    font-size: 50px;
  }
}
